<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxmbdN7Zu7KRe9dCJdgmaa5sdQvJb_EN8</string>
	<key>GCM_SENDER_ID</key>
	<string>461014938946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.energyTariff</string>
	<key>PROJECT_ID</key>
	<string>energy-tariff-system</string>
	<key>STORAGE_BUCKET</key>
	<string>energy-tariff-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461014938946:ios:94616d7e27b0a09b2784db</string>
	<key>DATABASE_URL</key>
	<string>https://energy-tariff-system-default-rtdb.firebaseio.com</string>
</dict>
</plist>